$typography-color: (
	dark-primary: lighten(black, 20%),
	dark-secondary: #424242,
	dark-disabled: #626262,
	light-primary: #ffffff,
	light-secondary: #c6c6cb,
	light-disabled: #7e7e83,
	border-color: #eee
);

$color: (
	primary: #54b948,
	blue: #0099bf,
	light-blue: #31a9e0,
	yellow: #e0d120,
	light-orange: #f1b51d,
	orange: #ed9a23,
	light-green: #a5ce39,
	dark-green: #00a77e,
	aqua: #018d9b,
	paper: #f6f6f6
);

$theme-colors: (
	primary: #54b948,
	blue: #0099bf,
	light-blue: #31a9e0,
	yellow: #e0d120,
	light-orange: #f1b51d,
	orange: #ed9a23,
	light-green: #a5ce39,
	dark-green: #00a77e,
	aqua: #018d9b,
	paper: #f6f6f6,
	dark-primary: lighten(black, 20%),
	dark-secondary: #424242,
	dark-disabled: #626262,
	light-primary: #ffffff,
	light-secondary: #c6c6cb,
	light-disabled: #7e7e83,
	border: #eee
);
