$font-stack-Ltablet: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, header),
    font-size: map-get($typography-size-Ltablet, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, display),
    font-size: map-get($typography-size-Ltablet, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, title),
    font-size: map-get($typography-size-Ltablet, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, subtitle),
    font-size: map-get($typography-size-Ltablet, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none,
    //
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, headline),
    font-size: map-get($typography-size-Ltablet, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, subheading),
    font-size: map-get($typography-size-Ltablet, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Ltablet, paragraph),
    font-size: map-get($typography-size-Ltablet, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, button),
    font-size: map-get($typography-size-Ltablet, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Ltablet, overline),
    font-size: map-get($typography-size-Ltablet, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-Ltablet, caption),
    font-size: map-get($typography-size-Ltablet, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, code),
    font-size: map-get($typography-size-Ltablet, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-phone: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, header),
    font-size: map-get($typography-size-phone, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, display),
    font-size: map-get($typography-size-phone, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, title),
    font-size: map-get($typography-size-phone, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, subtitle),
    font-size: map-get($typography-size-phone, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, headline),
    font-size: map-get($typography-size-phone, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, subheading),
    font-size: map-get($typography-size-phone, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-phone, paragraph),
    font-size: map-get($typography-size-phone, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, button),
    font-size: map-get($typography-size-phone, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-phone, overline),
    font-size: map-get($typography-size-phone, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-phone, caption),
    font-size: map-get($typography-size-phone, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, code),
    font-size: map-get($typography-size-phone, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-desktop: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, header),
    font-size: map-get($typography-size-desktop, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, display),
    font-size: map-get($typography-size-desktop, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, title),
    font-size: map-get($typography-size-desktop, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, subtitle),
    font-size: map-get($typography-size-desktop, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, headline),
    font-size: map-get($typography-size-desktop, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, subheading),
    font-size: map-get($typography-size-desktop, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-desktop, paragraph),
    font-size: map-get($typography-size-desktop, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, button),
    font-size: map-get($typography-size-desktop, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-desktop, overline),
    font-size: map-get($typography-size-desktop, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-desktop, caption),
    font-size: map-get($typography-size-desktop, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, code),
    font-size: map-get($typography-size-desktop, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-Stablet: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, header),
    font-size: map-get($typography-size-Stablet, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, display),
    font-size: map-get($typography-size-Stablet, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, title),
    font-size: map-get($typography-size-Stablet, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, subtitle),
    font-size: map-get($typography-size-Stablet, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, headline),
    font-size: map-get($typography-size-Stablet, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, subheading),
    font-size: map-get($typography-size-Stablet, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Stablet, paragraph),
    font-size: map-get($typography-size-Stablet, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, button),
    font-size: map-get($typography-size-Stablet, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Stablet, overline),
    font-size: map-get($typography-size-Stablet, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-Stablet, caption),
    font-size: map-get($typography-size-Stablet, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, code),
    font-size: map-get($typography-size-Stablet, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);
