//============= Button ============ //

// Main Button Styles

button,
.button {
	@include font(button);
	margin: 0 !important;
	width: fit-content;
	whitespace: collapse;
	padding: 0.5em 1em;
	line-height: 1;
	border: none;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	transition: all 0.2s ease-in-out 0.04s;
	background: transparent;
	cursor: pointer;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
		transform: scale(1.01);

		&:focus {
			background: rgba(0, 0, 0, 0.15);
			outline: none;
		}
	}

	&:focus {
		outline: none;
	}

	&.small {
		padding: 0.5rem 1rem;
	}

	&.large {
		padding: 1rem 2rem;
	}

	&.filled {
		color: white;
		background: map-get($color, primary);
		&:hover {
			background: darken(map-get($color, primary), 10%);
		}

		&:focus {
			background: darken(map-get($color, primary), 20%);
		}

		&.blue {
			background: color(blue);

			&:hover {
				background: darken(color(blue), 10%);
			}

			&:focus {
				background: darken(color(blue), 20%);
			}
		}
		&.light-blue {
			background: color(light-blue);

			&:hover {
				background: darken(color(light-blue), 10%);
			}

			&:focus {
				background: darken(color(light-blue), 20%);
			}
		}
		&.yellow {
			background: color(yellow);

			&:hover {
				background: darken(color(yellow), 10%);
			}

			&:focus {
				background: darken(color(yellow), 20%);
			}
		}
		&.light-orange {
			background: color(light-orange);

			&:hover {
				background: darken(color(light-orange), 10%);
			}

			&:focus {
				background: darken(color(light-orange), 20%);
			}
		}
		&.orange {
			background: color(orange);

			&:hover {
				background: darken(color(orange), 10%);
			}

			&:focus {
				background: darken(color(orange), 20%);
			}
		}
		&.light-green {
			background: color(light-green);

			&:hover {
				background: darken(color(light-green), 10%);
			}

			&:focus {
				background: darken(color(light-green), 20%);
			}
		}
		&.dark-green {
			background: color(dark-green);

			&:hover {
				background: darken(color(dark-green), 10%);
			}

			&:focus {
				background: darken(color(dark-green), 20%);
			}
		}
		&.aqua {
			background: color(aqua);

			&:hover {
				background: darken(color(aqua), 10%);
			}

			&:focus {
				background: darken(color(aqua), 20%);
			}
		}
		&.yellow {
			background: color(paper);
			color: color('dark-primary');

			&:hover {
				background: darken(color(paper), 10%);
			}

			&:focus {
				background: darken(color(paper), 20%);
			}
		}
	}

	&.outline {
		color: map-get($color, primary);
		background: transparent;
		border: 1px solid map-get($color, primary);

		&:hover {
			border-color: darken(map-get($color, primary), 10%);
			background: map-get($color, primary);
			color: white;
		}

		&:focus {
			border-color: darken(map-get($color, primary), 20%);
			background: darken(map-get($color, primary), 10%);
			color: white;
		}

		&.white {
			color: white;
			background: transparent;
			border: 1px solid white;

			&:hover {
				border-color: map-get($color, primary);
				background: map-get($color, primary);
				color: white;
			}

			&:focus {
				border-color: darken(map-get($color, primary), 20%);
				background: darken(map-get($color, primary), 10%);
				color: white;
			}
		}
	}
}

// Button styles for Login Button Only

.login-button {
	cursor: pointer;
	&.small {
		display: none;
	}
	@media (max-width: map-get($breakpoints, tablet)) {
		&.small {
			display: inherit;
		}
		&.large {
			display: none;
		}
	}
}
