<template>
  <div class="docs-search__container">
    <modal-overlay v-on:close-modal="closeDown()" v-bind:overlay="searchIsOpen"></modal-overlay>
    <div class="docs-inner-search">
      <input
        id="docs-search-field"
        placeholder="search..."
        v-model="query"
        v-on:focus="checkUpdateQuery()"
        v-on:keyup="updateQuery()"
        type="text"
      >
      <div v-if="length" class="search-result__container">
        <div v-for="(value, key) in results" :key="key">
          <h3
            class="search-result__category underline"
            style="text-transform: capitalize;"
            v-html="key"
          ></h3>
          <div class="search-result__item" v-for="val in value" :key="val.link">
            <a v-bind:href="val.link">
              <div id="docs-search-result__for-hover">
                <h6 v-html="val.title"></h6>
                <p v-html="val.excerpt" class="caption"></p>
                <hr style="margin: 1rem 0">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ModalOverlay from "../modal/modal-overlay.vue";
import Vue from "vue";
import axios from "axios";
import { debounce } from "lodash";
export default {
  name: "docs-component",
  data: function() {
    return {
      icon: wpMenu.searchIcon,
      searchIsOpen: false,
      body: document.querySelector("body"),
      requestUrl: `${wpSite}/wp-json/jetpay/v2/search_docs?s=`,
      query: "",
      results: {},
      showDropdown: null,
      message: "hello"
    };
  },
  computed: {
    // a computed getter
    urlQuery: function() {
      // `this` points to the vm instance
      return this.query.split(" ").join("+");
    },
    length: function() {
      const long = Object.keys(this.results).length;
      const answer = long >= 1 && this.searchIsOpen ? true : false;
      return answer;
    }
  },
  components: {
    ModalOverlay
  },
  methods: {
    openUp: function() {
      if (!this.searchIsOpen) {
        this.body.classList.add("modal-open");
        this.showDropdown = true;
        this.searchIsOpen = true;
      }
    },
    closeDown: function() {
      this.searchIsOpen = false;
      this.showDropdown = false;
      this.body.classList.remove("modal-open");
    },
    enter: function() {
      document.getElementById("header-search").classList.remove("hidden");

      this.searchIsOpen = true;
      this.showDropdown = true;

      setTimeout(() => {
        const searchField = document.getElementById("search-field");
        searchField.focus();
        searchField.select();
      }, 500);
    },
    leave: function() {
      this.searchIsOpen = false;
      this.query = "";
      this.results = {};
    },
    checkUpdateQuery: function() {
      this.openUp();
      if (this.query !== "") {
        this.updateQuery();
      }
    },
    updateQuery: debounce(function() {
      this.searchIsOpen = true;
      if (this.query.length > 1) {
        console.log(this.urlQuery);
        this.results = {};
        const results = this.results;
        const query = this.query;
        axios
          .get(`${this.requestUrl}${this.urlQuery}`)
          .then(function(response) {
            response.data.map(res => {
              if (query == query) {
                if (results[res.type]) {
                  const newResults = [...results[res.type], res];
                  Vue.set(results, res.type, newResults);
                } else {
                  Vue.set(results, res.type, [res]);
                }
              } else {
                return null;
              }
            });
          })
          .catch(function(error) {});
      } else {
        this.results = {};
      }
    }, 300)
  }
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});
