/*
**
* Defining all Typographic Styles, and Helpers
**
*/

// Base Typographic Styles

body {
	font-family: "Open Sans";
	font-feature-settings: "salt", "pnum";
	color: color(dark-primary);
	font-kerning: normal;
	font-size: 16px;
}

hr {
	margin: 2rem 0;
	border: 1px solid color(border);
}

sup {
	vertical-align: super;
	font-size: .5em;
}

h1,
.header {
	@include font(header);
}

h2,
.display {
	@include font(display);
}

h3,
.title {
	@include font(title);
}

h4,
.subtitle {
	@include font(subtitle);
}

h5,
.headline {
	@include font(headline);
}

h6,
.subheading {
	@include font(subheading);
}

p,
.paragraph {
	@include font(paragraph);
	margin-bottom: 1.3em;
}

.button-text {
	@include font(button);
}

.overline {
	@include font(overline);
	margin-top: 0.5em !important;
}

.caption {
	@include font(caption);
}

ol,
ul {
	margin-top: 1.5em;
	margin-bottom: 2em;
	li {
		margin-top: 1em;
	}
}

pre {
	@include font(code);
}

a {
	color: color(light-blue);
	text-decoration: none;
}

// Helper definitions

.underline {
	text-decoration: none;
	position: relative;
	margin-bottom: 1.1em;

	&:after {
		position: absolute;
		content: "";
		height: 0.4ch;

		bottom: -0.6em;

		margin: 0;
		left: 0;
		right: 0;
		width: 5ch;
		background: #53b947;
	}
}
