/*
**
* Vue Transition Classes for entrance and leaving the DOM
**
*/

// ==== Fade Transitions ==== //

// Fade Fast
.fadeFast-enter-active {
  transition: all 0.2s ease-in;
}

.fadeFast-leave-active {
  transition: all 0.2s ease-out 0.3s;
}

.fadeFast-enter,
.fadeFast-leave-to {
  opacity: 0;
}

// Fade Slow
.fadeSlow-enter-active {
  transition: all 0.3s ease-in 0.2s;
}

.fadeSlow-leave-active {
  transition: all 0.3s ease-out;
}

.fadeSlow-enter,
.fadeSlow-leave-to {
  opacity: 0;
}

// Normal Fade

.fade-enter-active {
  opacity: 1;
  transition: all 0.3s 0.2s !important;
}
.fade-leave-active {
  transition: opacity 0.3s !important;
}
.fade-enter {
  opacity: 0 !important;
}
.fade-leave-to {
  opacity: 0 !important;
}

// Normal Grow

.grow-enter-active {
  transform: scaleY(1);
  transition: transform 0.3s linear !important;
}
.grow-leave-active {
  transition: transform 0.3s linear 0.2s !important;
}
.grow-enter {
  transform: scaleY(0);
}
.grow-leave-to {
  transform: scaleY(0);
}
