.navigation-container {
  display: grid;
  grid-template-areas: "icon logo search";
  height: fit-content;
  max-width: 906px;
  margin: 0 auto;

  .menu-icon {
    grid-area: icon;
    justify-self: start;
    align-self: center;
  }

  .jpn-logo-container {
    grid-area: logo;
    justify-self: center;

    .nav-logo__desktop {
      width: fit-content;
      justify-self: center;

      a {
        display: block;
        margin-bottom: -4px;
      }
    }
  }

  .search-icon {
    grid-area: search;
    justify-self: end;
    align-self: center;
    display: flex;

    p.search-button {
      margin: 0 24px 0 0;
    }
  }
}
