// ============ Blog ============= //
body.single-blog {
	.blog {
		&-header {
			padding-bottom: 30%;
			background-position: center center;
			background-size: cover;
			position: relative;
			color: white;
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				background: linear-gradient(
					to bottom,
					rgba(51, 51, 51, 0) 0%,
					rgba(51, 51, 51, 0) 17%,
					rgba(51, 51, 51, 0.6) 78%,
					rgba(51, 51, 51, 0.6) 100%
				);
				height: 100%;
				width: 100%;
			}
			&-container {
				position: absolute;
				width: 100%;
				padding-bottom: 1rem;
				bottom: 0;
			}
		}

		&-main {
			display: grid;
			grid-template-columns: minmax(62ch, 75ch) 1fr;
			grid-gap: 2rem;
			margin-top: 2rem;
			margin-bottom: 2rem;

			h2 {
				font-size: 1.9em;
			}

			&__content {
				img {
					max-width: 100%;
					height: auto;
				}

				ul {
					list-style-type: disc;
					list-style-position: inside;
				}
				max-width: 75ch;
				width: 100%;

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					color: rgba(0, 0, 0, 0.78);
					font-weight: 800;
					margin-top: 1.25em;
				}
				* {
					margin-block-start: 1.25rem;

					&:first-child {
						margin-block-start: 0;
					}
				}
			}

			&__sidebar {
				display: flex;
				flex-direction: column;
				&-social {
					margin-bottom: 2rem;
				}
			}
		}

		@media (max-width: map-get($breakpoints, desktop)) {
			&-header {
				padding-bottom: 65%;
			}
			&-main {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				&__content {
					margin-bottom: 2em;
				}
				&__sidebar {
					width: 100%;
					display: grid;
					grid-template-columns: 20% 1fr;
					grid-gap: 1em;
					min-width: 200px;
					margin-bottom: 2rem;
				}
			}
		}

		@media (max-width: map-get($breakpoints, phone)) {
			.container {
				max-width: 90%;
			}
			&-header {
				padding-bottom: 100%;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
				&:before {
					background: rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
}
