// ==== Blog Archive ==== //

.blog-archive {
	&__container {
		max-width: 906px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		grid-gap: 1rem;
		justify-content: center;

		.card {
			transform: scale(1);
			transition: all .2s ease-out;
			cursor: pointer;

			&:hover {
				box-shadow: 2px 4px 5px rgba(black, .09);
				transform: scale(1.01);
			}
		}
		.card.image.vertical {
			justify-self: center;
			padding: 0;
			margin-bottom: 0px;
			.card-img {
				width: 100%;
				margin: 0;
				height: 200px;
				object-fit: cover;
			}
			.card__main-content {
				margin: 0.5rem 1rem;
				padding: 0;
			}
		}
	}
}
.link-pagination {
	text-align: center;
	grid-column: -1/1;
}
