body.changelog.archive {
	.blog-archive {
		.changelog-group {
			margin-top: 1em;
			border: 1px solid color(border);
			padding: 1em 1em;
			border-radius: 2px;

			.changelog-section {
				.changelog-container article a {
					display: grid;
					grid-template-columns: 50px 250px 1fr 20px;
					align-items: end;
					color: color(dark-primary);
					&:hover {
						color: color(primary);
					}
				}
			}
		}
	}
}
