body.documentation,
body.category,
body.single-documentation {
	.docs-inner-search {
		position: absolute;
		z-index: 999;
		width: 100%;
		padding: 0;
		margin: 0;
		input {
			display: inline-block;
			width: 100%;
			@include font("paragraph");
			outline: none;
			border: 1px solid color(dark-disabled);
			background: url(images/search-icon.svg);
			background-size: .8em;
			background-repeat: no-repeat;
			background-position: .5em 55%;
			padding: .25em;
			padding-left: 1.75em;
			margin: 0;
			border-radius: 4px;
			&:focus {
				outline: none;
				border: 1px solid color(primary);
				background: url(images/search-icon.svg), rgba(white, .8);
				background-size: .8em;
				background-repeat: no-repeat;
				background-position: .5em 55%;
			}
		}

		.search-result__container {
			padding: 1em;
			background: rgba(white, .95);
			border-radius: 4px;
			box-shadow: 2px 4px 10px rgba(black, .1);
			max-height: 50vh;
			overflow-y: scroll;
			a {
				color: color(dark-primary);

				&:hover {
					color: color(primary);
				}
			}
		}
	}
	a {
		color: color(dark-primary);

		&:hover {
			color: color(primary);
		}
	}
}
