body.documentation.archive,
body.documentation.single,
body.category {
	.vue-modal-overlay {
		background: transparent;
	}
	.documentation {
		&__header {
			height: 400px;
			width: 100%;
			background: url(images/white-texture.svg);
			display: flex;
			background-repeat: no-repeat;
			background-size: cover;
			justify-content: center;
			align-items: center;
			.docs-search__container {
				position: relative;
				min-height: 76px;
			}

			&-title {
				max-width: 906px;
			}

			&.small {
				height: 100px;
				flex-direction: row;

				.documentation__header-title {
					display: flex;
					flex-direction: row;
					align-items: center;
					min-height: inherit;

					.docs-search__container {
						min-width: 300px;
						width: 50vw;
						margin-left: 1em;
					}
				}
			}
			@media (max-width: map-get($breakpoints, tablet)) {
				&-title {
					max-width: 90%;
					margin: auto;
				}
				&.small {
					.documentation__header-title {
						margin-top: 10px;
						display: flex;
						flex-direction: column;
						align-items: center;
						min-height: inherit;
					}
				}
			}
		}

		&__body {
			margin-bottom: 4rem;
			&-cards {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				grid-gap: 2em;
				@media (max-width: map-get($breakpoints, tablet)) {
					margin: auto;
					grid-template-columns: 1fr;
					.category-posts {
						max-width: 100%;
						width: 100%;
					}
				}
				.category-posts {
					padding: 1em;
					border: 1px solid color(border);
					&.helpful-links {
						grid-column-start: 1;
						grid-column-end: -1;
						max-width: 100%;
						.helpful-links_buttons {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: flex-start;
							a {
								margin: 1em;
							}
						}
					}
					h3.category-name {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
