.items-container {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 2em;
	a.icon-box-link {
		transition: color .2s ease-in-out;
		color: color(dark-primary);
		&:hover {
			color: color(dark-secondary);
		}
		.icon-box {
			padding: 1em;
			border: 1px solid #eee;
			border-radius: 2px;
			&:hover {
				background: #f6f6f6;
			}
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 250px;
			h5 {
				margin-top: 1em;
				font-size: 1em;
				text-align: center;
				margin-bottom: .2em;
			}
			p {
				@include font(caption);
				margin-top: 0em !important;
				margin-bottom: 1em;
				text-align: center;
			}
			.icon-holder {
				border: .25rem solid color(primary);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				height: 4rem;
				width: 4rem;
				i {
					font-size: 2rem;
					color: color(primary);
				}
			}
		}
	}
}

body.tax-links-by-state {
	svg {
		path {
			fill: #eee !important;
			&:hover {
				fill: color(primary) !important;
			}
		}
	}
}
