// ==== News Archive ==== //
.news-archive__container {
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
	}
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 2rem;

	.card {
		max-width: calc(100% - 4rem);
		margin-bottom: 0;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: scale(1);
		transition: all .2s ease-out;
		cursor: pointer;

		&:hover {
			box-shadow: 2px 4px 5px rgba(black, .09);
			transform: scale(1.01);
		}
	}
}
