body.archive.partner {
	h1.underline {
		font-size: 2.5em;
	}
	.container {
		overflow-y: hidden;

		.partners-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			grid-gap: 1em;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
	.partner-item {
		width: 250px;
		height: 250px;
		position: relative;

		img {
			height: 100%;
			width: 100%;
			filter: grayscale(1);
		}
		.partner-overlay {
			position: absolute;
			padding: 10%;
			top: 0;
			left: 0;
			height: 250px;
			width: 250px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: color(aqua);
			color: white;
			opacity: 0;
			transition: all .2s ease-in-out;
			h6 {
				font-size: .7em !important;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}
