body.partner.single {
	header .container #logo img {
		display: none;
	}
}

article.partner-single {
	.partner-single__header {
		background-image: url(images/white-texture.svg);
		background-position: center center;
		background-size: cover;
		height: 300px;
		.partner-single__header-logos {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			& > div {
				width: 100px;
				height: 100px;
				margin: 24px;
				background-size: cover;
				background-position: center center;

				&.our-logo {
					background-image: url(images/jpNcrLogo.svg);
				}
			}
		}
	}
}
