<template>
  <div @mouseover="open = true" @mouseleave="open=false" class="product-header-related">
    <div>
      <div id="related-modules">
        <p class="button-text">
          {{trigger}}&nbsp;
          <i class="far fa-angle-down"></i>
        </p>
      </div>
      <div>
        <div v-if="open" class="related-modules__drop-contain">
          <div :class="{ open: open }" id="related-modules__dropdown">
            <div class="spacer-1"></div>
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "dropdown-component",
  props: ["trigger"],
  data: function() {
    return {
      open: false,
      trigger: this.trigger
    };
  }
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>