<template>
  <transition name="fadeFast">
    <div v-if="overlay" class="vue-modal-overlay" v-on:click="$emit('close-modal')"></div>
  </transition>
</template>

<script>
export default {
  name: "modal-overlay",
  props: ["overlay", "closer"]
};
</script>

<style scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});