<template>
  <span>
    <login-component v-on:show="show()" :icon="icon"></login-component>
    <transition name="fade">
      <div v-if="loginIsOpen" class="login-container">
        <div class="main-contain">
          <span @click="loginIsOpen = false" class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <div class="login-barrier">
            <h4 class="underline">{{title}}</h4>
            <p>{{action}}</p>
            <div class="spacer-2"></div>
            <slot v-if="loginIsOpen"></slot>
          </div>
        </div>
      </div>
    </transition>
  </span>
</template>

<script>
import LoginComponent from "../../login/login.vue";
export default {
  name: "vue-modal",
  components: { LoginComponent },
  props: ["icon", "action", "title"],
  data: function() {
    return {
      loginIsOpen: false
    };
  },
  methods: {
    show: function() {
      this.loginIsOpen = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.main-contain {
  position: relative;
  padding-top: 1em;
  .close {
    position: absolute;
    right: -1em;
    top: -1em;
  }
}
.login-container {
  position: absolute;
  z-index: 1001;
  background: #f6f6f6;
  flex-direction: column;
  text-align: left;
  padding: 2em 2em 1em;
  top: 10%;
  width: 300px;
  left: calc(50% - 150px);
  box-shadow: -1px 6px 40px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  .login-barrier {
    margin: auto;
    position: relative;
  }
}
</style>

