.elementor-1947 .elementor-element.elementor-element-12e2721b{padding:3em 0em 3em 0em;}.elementor-1947 .elementor-element.elementor-element-490b6972 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-1947 .elementor-element.elementor-element-490b6972 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1947 .elementor-element.elementor-element-651b04ae{text-align:center;}.elementor-1947 .elementor-element.elementor-element-651b04ae .elementor-image img{width:500px;max-width:90%;}.elementor-1947 .elementor-element.elementor-element-651b04ae > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-1947 .elementor-element.elementor-element-4d468f44{padding:0em 0em 7em 0em;}.elementor-1947 .elementor-element.elementor-element-169b3a40.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1947 .elementor-element.elementor-element-169b3a40 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}.elementor-1947 .elementor-element.elementor-element-169b3a40 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1947 .elementor-element.elementor-element-3f064c41 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1947 .elementor-element.elementor-element-99320c2 .elementor-spacer-inner{height:24px;}.elementor-1947 .elementor-element.elementor-element-45d11168 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.elementor-1947 .elementor-element.elementor-element-45d11168 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1947 .elementor-element.elementor-element-24566037 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:16px;}.elementor-1947 .elementor-element.elementor-element-558e6bef a.elementor-button, .elementor-1947 .elementor-element.elementor-element-558e6bef .elementor-button{background-color:#54b948;border-radius:4px 4px 4px 4px;padding:.75em 01.5em 0.75em 1.5em;}.elementor-1947 .elementor-element.elementor-element-558e6bef a.elementor-button:hover, .elementor-1947 .elementor-element.elementor-element-558e6bef .elementor-button:hover{background-color:#49aa42;}.elementor-1947 .elementor-element.elementor-element-22e18538 a.elementor-button, .elementor-1947 .elementor-element.elementor-element-22e18538 .elementor-button{background-color:#31a9e0;border-radius:4px 4px 4px 4px;padding:.75em 01.5em 0.75em 1.5em;}.elementor-1947 .elementor-element.elementor-element-22e18538 a.elementor-button:hover, .elementor-1947 .elementor-element.elementor-element-22e18538 .elementor-button:hover{background-color:#0099bf;}.elementor-1947 .elementor-element.elementor-element-5032eaa5.elementor-widget-heading .elementor-heading-title{color:#626262;}.elementor-1947 .elementor-element.elementor-element-5032eaa5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1947 .elementor-element.elementor-element-5084bad8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1947 .elementor-element.elementor-element-59130b9d > .elementor-container{max-width:906px;}.elementor-1947 .elementor-element.elementor-element-59130b9d{padding:2px 2px 2px 2px;}.elementor-1947 .elementor-element.elementor-element-1cd60235 > .elementor-widget-container{padding:1em 0em 2em 1em;}@media(min-width:768px){.elementor-1947 .elementor-element.elementor-element-169b3a40{width:62.693%;}.elementor-1947 .elementor-element.elementor-element-45d11168{width:37.307%;}}@media(max-width:999px){.elementor-1947 .elementor-element.elementor-element-12e2721b{padding:2em 1em 3em 1em;}.elementor-1947 .elementor-element.elementor-element-4d468f44{padding:2em 1em 3em 1em;}}@media(max-width:767px){.elementor-1947 .elementor-element.elementor-element-12e2721b{padding:2em 1em 3em 1em;}.elementor-1947 .elementor-element.elementor-element-4d468f44{padding:2em 1em 3em 1em;}}/* Start custom CSS for column, class: .elementor-element-490b6972 */.elementor-1947 .elementor-element.elementor-element-490b6972 {
    border-left: 1px solid #eee;
    margin-left: 32px;
    padding-left: 16px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3f064c41 */.elementor-1947 .elementor-element.elementor-element-3f064c41 h1 {
    text-decora0tion: none;
    position: relative;
    margin-bottom: .9em;
}

.elementor-1947 .elementor-element.elementor-element-3f064c41 h1:after {
    position: absolute;
    content: "";
    height: 0.4ch;
    bottom: -0.6em;
    margin: 0;
    left: 0;
    right: 0;
    width: 5ch;
    background: #53b947;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-558e6bef */.elementor-1947 .elementor-element.elementor-element-558e6bef {
    transition: all 0.2s ease-in-out 0.04s;
}

.elementor-1947 .elementor-element.elementor-element-558e6bef:hover {
    transform: scale(1.01);
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-22e18538 */.elementor-1947 .elementor-element.elementor-element-22e18538 {
    transition: all 0.2s ease-in-out 0.04s;
}

.elementor-1947 .elementor-element.elementor-element-22e18538:hover {
    transform: scale(1.01);
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5084bad8 */.elementor-1947 .elementor-element.elementor-element-5084bad8 p {
    margin-top: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-45d11168 */.elementor-1947 .elementor-element.elementor-element-45d11168 {
    border-left: 1px solid #eee;
    margin-left: 32px;
    padding-left: 16px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-59130b9d */.elementor-1947 .elementor-element.elementor-element-59130b9d {
    max-width: 906px;
    min-width: 340px;
    width: 90%;
}/* End custom CSS */