.container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  width: 906px;
  margin: auto;
  overflow-x: hidden;

  @media (max-width: map-get($breakpoints, phone)) {
    width: 100%;
  }
}
