/*
**
* Defining All Spacing Helpers
**
*/

.nomargin {
  margin: 0px !important;
}

.spacer {
  width: 100%;
  &-1 {
    height: 1em;
  }
  &-2 {
    height: 1.75em;
  }
  &-3 {
    height: 2.25em;
  }
  &-4 {
    height: 3em;
  }
  @media (max-width: map-get($breakpoints, desktop)) {
    &-1 {
      height: 1em;
    }
    &-2 {
      height: 1.5em;
    }
    &-3 {
      height: 2em;
    }
    &-4 {
      height: 2.5em;
    }
  }
  @media (max-width: map-get($breakpoints, tablet)) {
    &-1 {
      height: 1em;
    }
    &-2 {
      height: 1.375em;
    }
    &-3 {
      height: 1.625em;
    }
    &-4 {
      height: 2em;
    }
  }
}
