@mixin font(
  $style,
  $color: dark-primary,
  $properties: font-family font-weight line-height font-size margin
    letter-spacing text-transform
) {
  $font-properties: map-get($font-stack-phone, $style);
  @if $font-properties {
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        #{$property}: map-get($font-properties, $property);
      }
    }
  }

  $font-properties-small: map-get($font-stack-phone, $style);
  @if $font-properties-small {
    @each $property, $values in $font-properties-small {
      @if contains($properties, $property) {
        @media (max-width: map-get($breakpoints, phone)) {
          #{$property}: map-get($font-properties-small, $property);
        }
      }
    }
  }
  $font-properties-Stablet: map-get($font-stack-Stablet, $style);
  @if $font-properties-Stablet {
    @each $property, $values in $font-properties-Stablet {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, phone)) and (max-width: map-get($breakpoints, tablet)) {
          // small Tablet Size ~400-600px
          #{$property}: map-get($font-properties-Stablet, $property);
        }
      }
    }
  }

  $font-properties-Ltablet: map-get($font-stack-Ltablet, $style);
  @if $font-properties-Ltablet {
    @each $property, $values in $font-properties-Ltablet {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) {
          // large Tablet Size
          #{$property}: map-get($font-properties-Ltablet, $property);
        }
      }
    }
  }

  $font-properties-desktop: map-get($font-stack-desktop, $style);
  @if $font-properties-desktop {
    @each $property, $values in $font-properties-desktop {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, desktop)) {
          // over Large Tablet Size
          #{$property}: map-get($font-properties-desktop, $property);
        }
      }
    }
  }
}
