button {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  background: getGradient(orange, 600);
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: elevation(2);

  .non-button,
  .non-button:hover,
  .non-button:focus {
    display: block;
    margin: 0;
    text-decoration: none;
    background: white;
    border-radius: 0;
    border: none;
    padding: 0;
    color: getColor(gray, 700);
    cursor: default;
    text-align: left;
    transition: none;
    box-shadow: none;
  }
}

button:hover,
button:focus {
  background: getGradient(orange, 500);
  @include color(gray, 50, color);
  box-shadow: elevation(4);
  transform: scale(1.01);
}

button:focus {
  outline: none;
  outline-offset: -4px;
  transform: scale(1.005);
}

button:active {
  transform: scale(0.99);
  box-shadow: elevation(1);
}

button {
  &.blue {
    background: getGradient(blue, 600);

    &:hover,
    &:focus {
      background: getGradient(blue, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(blue, 600);
    }
  }

  &.green {
    background: getGradient(green, 600);

    &:hover,
    &:focus {
      background: getGradient(green, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(green, 600);
    }
  }

  &.teal {
    background: getGradient(teal, 600);

    &:hover,
    &:focus {
      background: getGradient(teal, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(teal, 600);
    }
  }

  &.gray {
    background: getGradient(gray, 600);

    &:hover,
    &:focus {
      background: getGradient(gray, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(gray, 600);
    }
  }

  &.purple {
    background: getGradient(purple, 600);

    &:hover,
    &:focus {
      background: getGradient(purple, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(purple, 600);
    }
  }

  &.red {
    background: getGradient(red, 600);

    &:hover,
    &:focus {
      background: getGradient(red, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(red, 600);
    }
  }

  &.ncrgreen {
    background: getGradient(ncrgreen, 600);

    &:hover,
    &:focus {
      background: getGradient(ncrgreen, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(ncrgreen, 600);
    }
  }

  &.ncraqua {
    background: getGradient(ncraqua, 600);

    &:hover,
    &:focus {
      background: getGradient(ncraqua, 500);
      @include color(gray, 50, color);
    }
    &:active {
      background: getGradient(ncraqua, 600);
    }
  }
}
