.transition-fade {
  transition: 0.3s ease-in;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}

// Page Transition Effects

.transition-fade-main {
  transition: 0.3s ease-in-out;
  transform: translateX(0%);
}
html.is-animating .transition-fade-main {
  transform: translateX(-100%);
}
