@function pow($number, $exponent, $base) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value * $base;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$typography-size-Stablet: (
  header: 2em,
  display: 1.625em,
  title: 1.375em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.775em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-Stablet: (
  header: 1.25,
  display: 1.15384615,
  title: 1.13626264,
  subtitle: 1.11,
  headline: 1.11,
  subheading: 1.11,
  paragraph: 1.375,
  button: 1,
  overline: 1.375,
  caption: 1.375,
  code: 1.375
);
// Size Desktop ~1000px & up
$typography-size-desktop: (
  header: 3em,
  display: 2.25em,
  title: 1.75em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.775em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-desktop: (
  header: 1.05,
  display: 1.25,
  title: 1.25,
  subtitle: 1.25,
  headline: 1.25,
  subheading: 1.25,
  paragraph: 1.375,
  button: 1,
  overline: 1.45,
  caption: 1.45,
  code: 1.45
);

// Large Tablet Size ~600-1000px
$typography-size-Ltablet: (
  header: 2.5em,
  display: 2em,
  title: 1.5em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.775em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-Ltablet: (
  header: 1.125,
  display: 1.25,
  title: 1.25,
  subtitle: 1.222,
  headline: 1.22,
  subheading: 1.2,
  paragraph: 1.375,
  button: 1,
  overline: 1.45,
  caption: 1.45,
  code: 1.45
);

$typography-size-phone: (
  header: 2em,
  display: 1.625em,
  title: 1.375em,
  subtitle: 1.125em,
  headline: 1.06125em,
  subheading: 1em,
  paragraph: 1em,
  button: 0.775em,
  overline: 0.725em,
  caption: 0.725em,
  code: 0.725em
);

$typography-lineheight-phone: (
  header: 1.25,
  display: 1.15384615,
  title: 1.13636364,
  subtitle: 1.111,
  headline: 1.1111,
  subheading: 1.111,
  paragraph: 1.275,
  button: 1,
  overline: 1.25,
  caption: 1.25,
  code: 1.375
);

$font-stack-Ltablet: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, header),
    font-size: map-get($typography-size-Ltablet, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, display),
    font-size: map-get($typography-size-Ltablet, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, title),
    font-size: map-get($typography-size-Ltablet, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, subtitle),
    font-size: map-get($typography-size-Ltablet, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, headline),
    font-size: map-get($typography-size-Ltablet, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Ltablet, subheading),
    font-size: map-get($typography-size-Ltablet, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Ltablet, paragraph),
    font-size: map-get($typography-size-Ltablet, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, button),
    font-size: map-get($typography-size-Ltablet, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Ltablet, overline),
    font-size: map-get($typography-size-Ltablet, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-Ltablet, caption),
    font-size: map-get($typography-size-Ltablet, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Ltablet, code),
    font-size: map-get($typography-size-Ltablet, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-phone: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, header),
    font-size: map-get($typography-size-phone, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, display),
    font-size: map-get($typography-size-phone, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, title),
    font-size: map-get($typography-size-phone, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, subtitle),
    font-size: map-get($typography-size-phone, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, headline),
    font-size: map-get($typography-size-phone, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-phone, subheading),
    font-size: map-get($typography-size-phone, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-phone, paragraph),
    font-size: map-get($typography-size-phone, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, button),
    font-size: map-get($typography-size-phone, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-phone, overline),
    font-size: map-get($typography-size-phone, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-phone, caption),
    font-size: map-get($typography-size-phone, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-phone, code),
    font-size: map-get($typography-size-phone, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-desktop: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, header),
    font-size: map-get($typography-size-desktop, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, display),
    font-size: map-get($typography-size-desktop, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, title),
    font-size: map-get($typography-size-desktop, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, subtitle),
    font-size: map-get($typography-size-desktop, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, headline),
    font-size: map-get($typography-size-desktop, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-desktop, subheading),
    font-size: map-get($typography-size-desktop, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-desktop, paragraph),
    font-size: map-get($typography-size-desktop, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, button),
    font-size: map-get($typography-size-desktop, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-desktop, overline),
    font-size: map-get($typography-size-desktop, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-desktop, caption),
    font-size: map-get($typography-size-desktop, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-desktop, code),
    font-size: map-get($typography-size-desktop, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

$font-stack-Stablet: (
  header: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, header),
    font-size: map-get($typography-size-Stablet, header),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, header),
    text-transform: none
  ),
  display: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, display),
    font-size: map-get($typography-size-Stablet, display),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, display),
    text-transform: none
  ),
  title: (
    font-family: map-get($base-font, family-header),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, title),
    font-size: map-get($typography-size-Stablet, title),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, title),
    text-transform: none
  ),
  subtitle: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, subtitle),
    font-size: map-get($typography-size-Stablet, subtitle),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subtitle),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  headline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, headline),
    font-size: map-get($typography-size-Stablet, headline),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, headline),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  subheading: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderBold),
    line-height: map-get($typography-lineheight-Stablet, subheading),
    font-size: map-get($typography-size-Stablet, subheading),
    margin-block-start: map-get($base-font, mbsHeader),
    margin-block-end: map-get($base-font, mbeHeader),
    letter-spacing: map-get($letter-spacing, subheading),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  paragraph: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Stablet, paragraph),
    font-size: map-get($typography-size-Stablet, paragraph),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, paragraph),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  button: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, button),
    font-size: map-get($typography-size-Stablet, button),
    margin: inherit,
    letter-spacing: map-get($letter-spacing, button),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  overline: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphNormal),
    line-height: map-get($typography-lineheight-Stablet, overline),
    font-size: map-get($typography-size-Stablet, overline),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, overline),
    text-transform: uppercase,
    font-feature-settings: "salt"
  ),
  caption: (
    font-family: map-get($base-font, family),
    font-weight: map-get($base-font, weightParagraphLight),
    line-height: map-get($typography-lineheight-Stablet, caption),
    font-size: map-get($typography-size-Stablet, caption),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, caption),
    text-transform: none,
    font-feature-settings: "salt"
  ),
  code: (
    font-family: map-get($base-font, family-code),
    font-weight: map-get($base-font, weightHeaderNormal),
    line-height: map-get($typography-lineheight-Stablet, code),
    font-size: map-get($typography-size-Stablet, code),
    margin-block-start: map-get($base-font, mbsParagraph),
    margin-block-end: map-get($base-font, mbeParagraph),
    letter-spacing: map-get($letter-spacing, code),
    text-transform: none
  )
);

@mixin font(
  $style,
  $color: dark-primary,
  $properties: font-family font-weight line-height font-size margin
    letter-spacing text-transform
) {
  $font-properties: map-get($font-stack-phone, $style);
  @if $font-properties {
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        #{$property}: map-get($font-properties, $property);
      }
    }
  }

  $font-properties-small: map-get($font-stack-phone, $style);
  @if $font-properties-small {
    @each $property, $values in $font-properties-small {
      @if contains($properties, $property) {
        @media (max-width: map-get($breakpoints, phone)) {
          #{$property}: map-get($font-properties-small, $property);
        }
      }
    }
  }
  $font-properties-Stablet: map-get($font-stack-Stablet, $style);
  @if $font-properties-Stablet {
    @each $property, $values in $font-properties-Stablet {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, phone)) and (max-width: map-get($breakpoints, tablet)) {
          // small Tablet Size ~400-600px
          #{$property}: map-get($font-properties-Stablet, $property);
        }
      }
    }
  }

  $font-properties-Ltablet: map-get($font-stack-Ltablet, $style);
  @if $font-properties-Ltablet {
    @each $property, $values in $font-properties-Ltablet {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) {
          // large Tablet Size
          #{$property}: map-get($font-properties-Ltablet, $property);
        }
      }
    }
  }

  $font-properties-desktop: map-get($font-stack-desktop, $style);
  @if $font-properties-desktop {
    @each $property, $values in $font-properties-desktop {
      @if contains($properties, $property) {
        @media (min-width: map-get($breakpoints, desktop)) {
          // over Large Tablet Size
          #{$property}: map-get($font-properties-desktop, $property);
        }
      }
    }
  }
}

h1,
.header {
  @include font(header);
}

h2,
.display {
  @include font(display);
}

h3,
.title {
  @include font(title);
}

h4,
.subtitle {
  @include font(subtitle);
}

h5,
.headline {
  @include font(headline);
}

h6,
.subheading {
  @include font(subheading);
}

p,
.paragraph {
  @include font(paragraph);
  margin-bottom: 1.3em;
}

.button {
  @include font(button);
}

.overline {
  @include font(overline);
}

.caption {
  @include font(caption);
}

pre {
  @include font(code);
}
