<template>
  <a id="menu-button" v-on:click="$emit('open-nav')">
    <span class="menu-icon">
      <i v-bind:class="icon"></i>
    </span>
  </a>
</template>

<script>
export default {
  name: "menu-button",
  data: function() {
    return {
      icon: wpMenu.menuIcon
    };
  }
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/

.menu-icon {
  font-size: 1.375em;
}

a {
  cursor: pointer;
}
</style>
});