<template>
  <a class="follow-link" @click.prevent="call()" href="#">
    <p class="button-text">About Us</p>
  </a>
</template>

<script>
export default {
  name: "menu-link",
  props: ["child"]
};
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/

a {
  cursor: pointer;
}
</style>
});