<template>
  <div class="header-menu left">
    <menu-button v-on:open-nav="openUp()"></menu-button>
    <modal-overlay v-on:close-modal="closeDown()" v-bind:overlay="navIsOpen"></modal-overlay>
    <!-- Toggle 'closed' class here -->
    <div class="navigation-panel" v-bind:class="{ closed: !navIsOpen }">
      <div class="navigation-panel__container">
        <!-- Parent Menus -->
        <!-- toggle inactive class here -->
        <div class="navigation-panel__container-normal" v-bind:class="{ inactive: parentActive }">
          <div class="navigation-panel__container-normal-container">
            <a class="follow-link" href="/">
              <p class="button-text">Home</p>
            </a>
            <a
              v-for="parent in parents"
              v-bind:key="parent.id"
              class="follow-link"
              @click="showChild(parent)"
              :href="parent.link"
            >
              <p class="button-text" data="about">{{parent.title}}</p>
            </a>
          </div>
        </div>

        <!-- Child Menus -->
        <!-- toggle 'active' class here -->
        <div
          v-for="child in children"
          v-bind:class="{active: child.active}"
          v-bind:key="child.id"
          class="navigation-panel__container-deep"
        >
          <div class="navigation-panel__container-deep-container">
            <a title="Go up one menu level." class="reset-list" @click="hideChild()">
              <p>
                <i class="fas fa-long-arrow-alt-left"></i> Back
              </p>
            </a>
            <a v-for="items in child" v-bind:key="items.id" class="follow-link" :href="items.link">
              <p class="button-text">{{items.title}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ModalOverlay from "../modal/modal-overlay.vue";
import MenuButton from "./menu-button.vue";
export default {
  name: "navigation-menu",
  data: function() {
    return {
      overlayIsOpen: false,
      navIsOpen: false,
      body: document.querySelector("body"),
      subMenu: null,
      parents: wpMenu.parents,
      children: wpMenu.children,
      parentActive: null,
      childElements: document.querySelectorAll(
        "navigation-panel__container-deep"
      )
    };
  },
  components: {
    ModalOverlay,
    MenuButton
  },
  methods: {
    openUp: function() {
      this.body.classList.add("modal-open");
      this.navIsOpen = true;
    },
    closeDown: function() {
      this.navIsOpen = false;
      this.body.classList.remove("modal-open");
    },
    showChild: function(parent) {
      if (parent.link.indexOf("#") >= 0) {
        this.parentActive = parent.id;
        this.children[parent.id].active = true;
      }
    },
    hideChild: function() {
      this.children[this.parentActive].active = null;
      this.parentActive = null;
    },
    getClass(parent) {
      return {
        active: this.parentActive == parent
      };
    }
  }
};
console.log("parents: ", wpMenu.parents);
console.log("children: ", wpMenu.children);
</script>

<style lang="scss" scoped>
/*
     * Some styles so that our first component
     * looks somewhat special
*/
</style>
});
