body.post-type-archive-news,
body.post-type-archive-blog {
	.blog-header {
		background: color(border);
		&_items {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 1em;

			& > a {
				color: color(dark-primary);
				margin-left: .5em;
				margin-right: .5em;

				&:not(.selected):hover {
					color: color(dark-disabled);
				}

				&.selected {
					color: color(primary);
				}
			}
		}
	}
}
