// ==== Header ==== //

header {
  width: 100%;
  padding: 0;
  background: #fff;

  // border-bottom: 1px solid color(border);

  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-bottom: calc(90px / 4.3619);
    overflow-y: hidden;

    .header-menu {
      align-self: center;
      width: 25vw;

      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }

      #menu-button {
        margin-left: 2ch;
      }

      #search-button {
        margin-right: 2ch;
        text-align: right;
      }

      .login-button {
        text-align: right;
      }

      a {
        color: color(dark-primary);
        &:hover {
          color: lighten(#333, 30%);
        }
      }
    }
    #logo {
      width: 90px;
      height: 90px;
      img {
        width: 90px;
        margin: -1px 0;
      }
    }
  }
  @media (max-width: map-get($breakpoints, tablet)) {
    .header-menu {
      width: 20%;
      align-self: end;
    }
    .container {
      margin-bottom: calc(20vw / 4.3619);
      img {
        max-width: 20vw;
        margin-left: calc(20vw / 4.3619);
        margin-right: calc(20vw / 4.3619);
      }
    }
  }
}
