// ============ Modal ============ //

.modal-open {
  overflow: hidden;
}

[data-modal="login-button"] {
  .v--modal-box.v--modal {
    padding: 1em 0px;

    button {
      width: 100%;
    }

    .login-container {
      margin: auto;
      padding: 1em 2em;
    }
  }
}

.v--modal-box.v--modal {
  border-radius: 1px;
}
