// ============ Navigation Drawer ============= //
.navigation-panel {
  z-index: 1000;
  height: 100vh;
  width: 300px;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  transition: all 0.3s ease-in-out 0.2s;

  &.closed {
    transform: translate(-300px);
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    &-normal,
    &-deep {
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4em 0 0;
      transition: all 0.15s ease-in-out;
      height: 100vh;
      top: 0;
      a {
        &.reset-list {
          p {
            text-align: left;
            margin-top: -1em;
            font-size: 1em;
            padding-bottom: 1.5em;
            cursor: pointer;
          }
        }
        p {
          text-align: left;
          color: white;
          transition: all 0.15s ease-in-out 0.03s;
          padding: 1em;

          &:hover {
            color: map-get($color, primary);
          }
        }
      }
    }
    &-normal {
      transform: translate(0);

      &.inactive {
        transform: translate(-300px);
      }
    }

    &-deep {
      position: absolute;
      top: 0;
      transform: translate(300px);

      &.active {
        transform: translate(0);
        .reset-list p {
        }
      }
    }
  }
}
