@media (max-width: 599px) {
	body.single-solutions,
	body.single-modules,
	body.payments.page,
	body.jetsource.page,
	body.payroll.page {
		.product-header-mobile {
			position: relative;
			select {
				background-color: #eee;
				font-size: inherit;
				display: inline-block;
				border: 0;
				margin: 0;
				width: 100%;
				text-overflow: '';
				-webkit-appearance: button;
				border-radius: 0;
				@include font(button);
				padding: 1em;
				padding-right: 2.5em;
				font-size: 1.25em;
			}
			&:after {
				content: "▾";
				height: 1em;
				font-size: 1.25em;
				line-height: 1;
				position: absolute;
				top: .5em;
				right: 1em;
			}
		}
		.product-header,
		.back-to-main-category {
			display: none;
		}
		.header-product {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 2em 0;

			.product-header-back {
				color: color(dark-primary);
				&:hover {
					color: color(dark-secondary);
				}
			}
		}
	}
}

@media (min-width: 600px) {
	body.single-solutions,
	body.single-modules,
	body.payments.page,
	body.jetsource.page,
	body.payroll.page {
		.product-header-mobile {
			display: none;
		}
		.header-product {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 2em 0;
		}
		.product-header {
			background: color(paper);
			&__solution {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				max-width: fit-content;
				margin: auto;
				white-space: nowrap;
				a.selected {
					.button-text {
						color: color(primary);
					}
				}
				.button-text {
					color: color(dark-primary);
					padding: 1em 1em;
					font-size: 14px;

					@media (max-width: 600px) {
						font-size: 12px;
					}

					&.separator {
						margin-left: 0;
						margin-right: 0;
					}
					&:hover {
						color: color(primary);
					}
				}
			}
		}
		a.product-header-back.button-text {
			color: color(dark-primary);
			&:hover {
				color: color(primary);
			}
		}
	}
}

#related-modules {
	position: relative;
}
#related-modules__dropdown {
	transition: opacity 0.4s ease-in-out;
	transform-origin: 0% 0%;
	transform: scaleY(0);
	opacity: 0;
	box-shadow: 3px 6px 20px rgba(black, 0.2);
	cursor: default;
	&.open {
		transform: scaleY(1);
		padding: 0 1em 1em;
		opacity: 1;
		width: 100%;
		hr {
			margin: 1em 0;
		}
		.caption.no-margin:last-child {
			padding-bottom: 0.5em;
		}
	}
}
a.related-link {
	color: color(dark-primary);
	&:hover {
		color: color(primary);
	}
	&:last-of-type {
		hr {
			display: none;
		}
	}
}

.related-modules__drop-contain {
	padding: 1em 0;
	position: absolute;
	z-index: 100;
	#related-modules__dropdown {
		background: white;
		border-radius: 2px;
	}
}
