.terminals-container {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-bottom: 7em;

	.terminal-card {
		width: fit-content;
		&__image {
			padding-bottom: 30%;
			background-size: cover;
			background-position: center bottom;
			width: 250px;
			height: 250px;
			position: relative;
		}
		&__header {
			background: rgba(black, .3);
			position: absolute;
			top: 0;
			left: 0;
			width: 250px;
			height: 250px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			transition: all .2s ease-in-out;
			&-title {
				transition: all .2s ease-in-out;
				color: white;
				text-shadow: 1px 1px 5px rgba(black, .2);
				padding-bottom: 2em;
			}
			&:hover {
				cursor: pointer;
				background: color(primary);

				.terminal-card__header-title {
					color: #fff;
					text-shadow: 1px 1px 5px rgba(black, 0);
					transform: translateY(-75px);
				}
			}
		}
	}
}
