body.single-documentation,
body.post-type-archive-documentation {
  @import "./header/layout";

  // CSS just for when the admin bar is present
  &.admin-bar {
    margin-top: -32px;
    height: calc(100% + 32px);
    padding: 32px 0 0;
    #wpadminbar {
      position: absolute;
    }
  }
}
