body.blog-template-default {
  main {
    margin-top: -80px;
  }

  #back-to-blog {
    z-index: 300;
    position: absolute;
    top: 65px;
    margin-left: 16px;

    p {
      color: white;
      font-weight: 900;
      margin-left: 16px;
      text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    }
  }

  .blog-single__bottom-form-container {
    margin: 24px 0;

    div#signup-form {
      div.container {
        padding: 24px 16px 8px;
      }
    }
  }

  @media (min-width: 1001px) {
    header .header-menu a {
      color: white;
      z-index: 1;
    }

    .blog-single {
      &__header-image {
        padding-bottom: 50%;
        background-position: center;
        margin-top: -64px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: -1;
      }

      &__bottom-form-container {
        margin-top: 24px;
      }

      // &__header-area-container {
      //   // width: 100vw;
      //   // position: relative;
      //   // left: 50%;
      //   // right: 50%;
      //   // margin-left: -50vw;
      //   // margin-right: -50vw;
      //   // margin-top: -8px;
      // }

      &__header-area {
        position: absolute;
        bottom: 0;
        //background: rgba(0, 0, 0, 0.4);
        padding: 40px 40px 40px 0px;
        // box-shadow: 14px -17px 20px 10px rgba(0, 0, 0, 0.4);

        h1.page-title,
        h2,
        p {
          margin: 0;
          padding-left: calc((100vw - 906px) / 2);
          color: white;
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
        }
      }
    }

    article {
      margin-top: 40px;
      display: flex;

      .blog-single {
        &__content-container {
          max-width: 606px;
        }

        &__sidebar-container {
          width: 260px;
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: start;
          margin-left: 40px;

          div.related-blogs {
            p {
              margin-bottom: 8px;
              font-size: 18px;
              line-height: 1.25em;
            }
          }

          p.sidebar-header {
            margin-bottom: 8px;
          }

          p:not(.sidebar-header) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }

        &__sidebar-social {
          display: grid;
          grid-template-columns: 30px 1fr;
          align-items: center;
          height: 40px;
        }
      }
    }

    #swup-logo {
      z-index: 1;

      svg > path {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}

body.blog-template-default,
body.news-template-default,
body.announcement-template-default {
  @media (min-width: 801px) and (max-width: 1000px) {
    header .header-menu a {
      color: white;
      z-index: 1;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .blog-single {
      &__header-image {
        padding-bottom: 50%;
        background-position: center;
        margin-top: -64px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: -1;
      }

      &__bottom-form-container {
        margin-top: 24;
      }

      // &__header-area-container {
      //   // width: 100vw;
      //   // position: relative;
      //   // left: 50%;
      //   // right: 50%;
      //   // margin-left: -50vw;
      //   // margin-right: -50vw;
      //   // margin-top: -8px;
      // }

      &__header-area {
        position: absolute;
        bottom: 0;
        //background: rgba(0, 0, 0, 0.4);
        padding: 40px 40px 40px 32px;
        // box-shadow: 14px -17px 20px 10px rgba(0, 0, 0, 0.4);

        h1.page-title,
        h2,
        p {
          margin: 0;
          padding-left: calc((100vw - 906px) / 2);
          color: white;
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
        }
      }
    }

    article {
      margin-top: 40px;
      display: flex;
      padding-left: 32px;

      .blog-single {
        &__content-container {
          max-width: 606px;

          img {
            max-width: 100% !important;
            height: auto;
            &.alignright {
              float:right;
              margin:0 0 1em 1em;
            }
            &.alignleft {
              float:left;
              margin:0 1em 1em 0;
            }
            &.aligncenter {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }

          a > img {
            .alignright {
              float:right;
              margin:0 0 1em 1em;
            }
            .alignleft {
              float:left;
              margin:0 1em 1em 0;
            }
            .aligncenter {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        &__sidebar-container {
          width: 260px;
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: start;
          margin-left: 40px;

          p.sidebar-header {
            margin-bottom: 8px;
          }

          p:not(.sidebar-header) {
            margin-bottom: 0px;
            margin-top: 0px;
          }

          div.related-blogs {
            p {
              margin-bottom: 8px;
            }
          }
        }

        &__sidebar-social {
          display: grid;
          grid-template-columns: 30px 1fr;
          align-items: center;
          height: 40px;
        }
      }
    }

    #swup-logo {
      z-index: 1;

      svg > path {
        fill: rgba(255, 255, 255, 0.9);
      }
    }
  }
}
/// Mobile Styles
@media only screen and (max-width: 800px) {
  body.blog-template-default,
  body.news-template-default,
  body.announcement-template-default {
    a#back-to-blog > p {
      margin-left: -16px;

      &.hidden {
        display: none;
      }
    }
    .blog-single__header-area-container {
      min-height: 100px;
    }

    article {
      align-items: center;
    }
    .container {
      margin: auto;
      padding: 0 16px;
      max-width: 100%;
    }
    .blog-single {
      &__header-image {
        padding-bottom: 50%;
        background-position: center;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: -1;

        .blog-single_header-area-container > .blog-single__header-area {
          [title="author-name"] {
            color: white !important;
          }
        }
      }

      &__bottom-form-container {
        margin-top: 24;
      }

      // &__header-area-container {
      //   // width: 100vw;
      //   // position: relative;
      //   // left: 50%;
      //   // right: 50%;
      //   // margin-left: -50vw;
      //   // margin-right: -50vw;
      //   // margin-top: -8px;
      // }

      &__header-area {
        position: absolute;
        bottom: 0;
        padding: 40px 40px 10px 0px;

        h1.page-title {
          margin: 0;
          padding-left: 16px;
          color: white;
          font-size: 24px;
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
        }

        h2 {
          margin: 0;
          padding-left: 16px;
          color: white;
          font-size: 26px;
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
          display: none;
        }

        p {
          padding-left: 16px;
          text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
          margin: 0;
          &[title="author-name"] {
            margin: 0;
            font-size: 16px;
          }
        }
      }
    }

    article {
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      .blog-single {
        &__content-container {
          max-width: 606px;
        }

        &__sidebar-container {
          max-width: 606px;
          width: 100%;
          // display: flex;
          justify-content: start;
          flex-direction: row;
          align-items: center;
          margin-left: 0px;

          div {
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
          }

          .sidebar-header {
            margin-top: 16px;
            display: block;
          }

          div.related-blogs {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0px;

            p {
              font-size: 18px;
              margin-bottom: 8px;
            }
          }

          p.sidebar-header {
            margin: 8px;
            margin-right: 16px;
          }

          p:not(.sidebar-header) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }

        // &__sidebar-social {
        //   display: grid;
        //   grid-template-columns: 50px 1fr;
        //   align-items: center;
        //   height: 40px;
        // }
      }
    }

    .blog-single__sidebar-container > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;

      p.color--dark-secondary {
        display: none;
      }

      a {
        padding: 8px;
      }
    }
  }
}

body.single-announcement article .blog-single__sidebar-social {
  display: grid;
  grid-template-columns: 50px 1fr;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  align-items: center;
  height: 40px;
}
