h1.changelog-header {
  margin-block-end: 0.5em;
  font-size: 80px;
  @include color(gray, 300, color);
}

.changelog-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;

  .changelog-section {
    min-width: 350px;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
    box-shadow: elevation(3);
  }

  .changelog-container {
    padding: 16px;
    width: 100%;

    a.changelog.normal-link {
      display: grid;
      grid-template-columns: 50px 200px 550px 20px;

      .changelog-entry {
        &-title {
          // min-width: 200px;
        }
        @media (max-width: 900px) {
          &-summary {
            display: none;
          }
        }
      }

      .changelog.far {
        margin-left: 8px;
      }
    }
  }

  @media (max-width: 900px) {
    article.changelog-entry {
      margin-top: 0px;
    }
    .changelog-container {
      padding: 16px;
      width: fit-content;
      margin: auto;
      a.changelog.normal-link {
        grid-template-columns: 50px 200px 20px;
      }
    }
  }

  p {
    margin: 0;
  }
}
