.homepage__new-post--container {
  width: 100%;
  position: absolute;
  top: 108px;
}
.homepage__new-post {
  width: 100%;
  margin: 0 auto 0;
  max-width: 906px;

  &-container {
    display: grid;
    color: white;
    grid-template-columns: 50px 1fr;
    justify-items: center;
    max-width: 400px;
    width: 100%;
    p.caption {
      margin: 0;
    }
  }
  &-new {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-height: 1.6em;
    text-align: center;
    padding: 3px 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    p {
      background: getColor(ncrgreen, 800);
      border-radius: 8px;
    }
  }
  &-title {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-height: 1.6em;
    overflow: hidden;
    text-align: center;
    padding: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 500px) {
  .homepage__new-post {
    &-container {
      max-width: 90%;
      margin: auto;
    }
    .homepage__new-post--container {
      width: 100%;
      position: absolute;
      top: 108px;
    }
  }
}

@media (max-width: 999px) {
  .homepage__new-post--container {
    top: 108px;
  }
}

@media (min-width: 1400px) {
  .homepage__new-post--container {
    top: 120px;
  }
}
