body.latest {
  @media (min-width: 1000px) {
    .swup-logo {
      margin-top: 0px !important;
    }
  }

  .meta-info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    p {
      padding-top: 0px;
      font-weight: 600;
      color: getColor(gray, 600);

      &.date {
        font-weight: 400;
      }
    }
  }
  hr {
    margin-top: 24px;
    margin-bottom: 16px;
    // padding-top: 1px;
  }
  @include font("paragraph");

  div#signup-form {
    margin: 0 0 100px;
    order: 1;
    // max-width: 100vw;
    // margin: 40px;
  }
  .container.align-center.form.vertical-spacing-large {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // margin: 40px auto;

    form#hubspot-form {
      flex-direction: column;
      min-width: 100%;

      label {
        color: getColor(gray, 600);
      }

      input {
        height: 3.5em;
      }
    }

    .form-field__container {
      padding: 24px;
    }

    .form-content__container {
      margin: 40px 24px;
    }
  }
}
.blog-archive.container {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  margin: 90px auto 0px;

  strong {
    color: getColor(gray, 700);
  }

  ul {
    @include font("paragraph");
    margin-top: 0;
    list-style: none;
    margin: 2em 0 2.45em 1.45em;
    padding: 0;
    text-indent: -1.3em;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      ul > li {
        &::before {
          content: "◦";
          color: getColor(blue, 800);
          padding-right: 0.6rem;
        }

        ul > li {
          &::before {
            content: "•";
            color: getColor(blue, 800);
            padding-right: 0.6rem;
          }

          ul > li {
            &::before {
              content: "◦";
              color: getColor(blue, 800);
              padding-right: 0.6rem;
            }

            ul > li {
              &::before {
                content: "•";
                color: getColor(blue, 800);
                padding-right: 0.6rem;
              }

              ul > li {
                &::before {
                  content: "◦";
                  color: getColor(blue, 800);
                  padding-right: 0.6rem;
                }
              }
            }
          }
        }
      }
      .user-content {
        & > h2 {
          font-size: 26px;
          margin-bottom: 1em;
          margin-top: 8px;
        }

        & > h3 {
          font-size: 24px;
          margin-bottom: 1em;
          margin-top: 8px;
        }

        & > h4 {
          font-size: 22px;
          margin-bottom: 1em;
          margin-top: 8px;
        }

        & > h5 {
          font-size: 20px;
          margin-bottom: 1em;
          margin-top: 8px;
        }
      }

      &::before {
        content: "•";
        color: getColor(blue, 800);
        padding-right: 0.6rem;
      }
    }
  }

  .button-container {
    flex-grow: 0;
    width: unset;
  }
}
.card-container {
  margin-bottom: 100px;

  .blog-post {
    .blog-post__container {
      flex-direction: column;
    }
  }
}

div.latest-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px;

  .blog-header__title {
    // margin: 24px 0;
    font-size: 43px;
  }

  h3.news-blog-filter {
    font-weight: 400;

    a {
      color: getColor(gray, 600);
      transition: color 0.2s ease-in-out;
      &:hover {
        color: getColor(blue, 700);
      }

      &.news {
        margin-right: 8px;
      }

      &.blog {
        margin-left: 8px;
      }
    }
  }

  @media (max-width: 500px) {
    h3.news-blog-filter {
      display: none;
    }
  }
}

h4.archive-link {
  font-size: 24px;
  margin-bottom: 16px;
}

.card {
  background: #ffffff;
  box-shadow: 3px 5px 26px rgba(0, 0, 0, 0.08), 1px 1px 7px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  &.blog-post {
    max-width: 906px;
    padding: 24px 24px 40px;
    margin: auto;
  }

  @media (min-width: 500px) {
    .blog-header__title {
      margin: 24px 16px;
    }

    &.blog-post {
      max-width: 906px;
      padding: 24px 40px 40px;
      margin: auto;

      &.news {
        max-width: 906px;
        padding: 24px 40px 40px;
        background: #fbfbfb;
      }
    }
  }
  .blog-post__container {
    max-width: 768px;
    margin: auto;
  }
}

.blog-post.card-container {
  margin: 0px 0px 100px;
}

@media (max-width: 950px) and (min-width: 601px) {
  .blog-header__title {
    margin: 24px 16px;
  }
  .blog-post.card-container {
    margin: 0px 16px 80px;

    .meta-info__container {
      display: flex;

      p.author-name {
        margin-top: 8px;
        margin-bottom: -16px;
        font-weight: 600;
        color: getColor(gray, 600);
      }
    }

    &.announcement {
      margin: 0px 16px 80px;
    }
  }
}

@media (max-width: 600px) and (min-width: 401px) {
  .blog-header__title {
    margin: 24px 16px;
  }
  .blog-post.card-container {
    margin: 0px 16px 60px;

    &.announcement {
      margin: 0px 0px 60px;
    }
  }
  body.latest {
    div#signup-form {
      margin: 0 24px 60px;
    }
    .container.align-center.form.vertical-spacing-large
      .form-content__container {
      margin: 16px;
    }
  }
}

@media (max-width: 400px) {
  .blog-post.card-container {
    margin: 0px 0px 60px;
  }
  body.latest {
    div#signup-form {
      margin: 0 0px 60px;
    }
    .container.align-center.form.vertical-spacing-large {
      .form-content__container {
        margin: 16px;

        p {
          margin-bottom: 0px;
        }
      }
      .form-field__container {
        padding: 16px;
        padding-top: 0px;
      }
    }
  }
}

.blog-post.annoucement {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 40px;

  ul {
    @include font("paragraph");
    margin-top: 0;
    list-style: none;
    margin: 2em 0 2.45em 1.45em;
    padding: 0;
    text-indent: -1.3em;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "•";
        color: getColor(blue, 800);
        padding-right: 0.6rem;
      }
    }
  }

  article.blog-post__announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      color: white;
      font-weight: 600;
    }
    p {
      color: white;
      margin-block-start: 0px;
      margin-block-end: 8px;
    }
  }
}

span.caption > p {
  @include font(caption);
}
