main {
  min-height: calc(100vh - (470px));
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

i {
  vertical-align: text-bottom;
}

.container {
  max-width: 906px;
  margin: auto;
}

footer {
  margin-top: 100px;
}

.no-margin {
  margin: 0 !important;
}

.spacing {
  &-small {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  &-medium-small {
    margin-top: 16px;
    margin-bottom: 0px;
  }

  &-medium {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  &-medium-large {
    margin-top: 32px;
    margin-bottom: 0px;
  }

  &-large {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  &-large {
    margin-top: 80px;
    margin-bottom: 0px;
  }

  &-xl {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

hr {
  border-width: 0px;
  &.smooth {
    height: 1px;
    width: 100%;
    background: linear-gradient(
      to right,
      white,
      #f1f1f1,
      #f1f1f1,
      #f1f1f1,
      white
    );
  }
}

body.modal {
  position: fixed;
  width: 100%;
  height: 100%;

  // div#modal-bg {
  //   background: rgba(0, 0, 0, 0.4);
  //   position: absolute;
  //   height: 100%;
  //   padding-bottom: 100%;
  //   width: 100%;
  //   z-index: 100;
  //   top: -80px;
  //   transition: opacity 0.3s ease-in-out;
  // }
}
