body.leadership.archive {
  #swup {
    margin: 0 64px;
  }

  .leadership-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 64px;

    .caption {
      margin-top: 0px;
    }
  }

  div.leadership-group {
    margin: 80px 0 100px;
  }

  div.content-wrapper {
    min-height: 768px;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  // display: table;
  transition: opacity 0.3s ease-in-out;

  .hidden {
    // opacity: 0;
  }
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
}

.modal-container {
  width: 80%;
  margin: 10% auto;
  margin-top: 20vh;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 15px 24px 2px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  overflow: hidden;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  height: 50vh;
  overflow-y: scroll;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 999px) {
  .modal-wrapper {
    position: fixed;

    .modal-container {
      margin-top: 20vh;
      width: 95vw;
    }
  }
}
