.product-header {
  &__links-left {
    display: inline-block;
  }

  &__links-right {
    display: inline-block;
    float: right;
    margin-left: 16px;

    ul {
      background: getColor(gray, 50);
      position: absolute;
      width: 300px;
      margin-left: -170px;
      padding: 0;
      border-radius: 4px;
      box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);

      &.collapsible-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in;
      }

      li {
        margin: 0;
        a {
          display: block;
          color: getColor(gray, 700);

          &:hover {
            background: getColor(gray, 200);
          }
          div.link-content {
            padding: 8px 8px 8px 24px;
            p.caption {
              margin-top: 0.4em !important;
            }
          }
        }
      }
      hr.separate-links {
        margin: 0px 8px 0px 8px;
        height: 1px;
        background: linear-gradient(
          to right,
          #fff,
          #eee 10%,
          #eee 90%,
          #fff 100%
        );
      }
    }
  }
}
