// REMOVE THE BORDER AROUND HTML BODY
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

[v-cloak] {
  display: none;
}

.unloaded {
  display: none;
}

.hidden {
  display: none;
}
